name: 'CDP CICD'

on:
  push:
    branches:
    - main
  pull_request:

jobs:
 python:
    name: 'Deploy Python App'
    runs-on: ubuntu-latest
    env:
      AZURE_FUNCTIONAPP_NAME: 'azfun-cdp-d' # set this to your application's name
      AZURE_FUNCTIONAPP_PACKAGE_PATH: 'app/'   # set this to the path to your web app project, defaults to the repository root
      PYTHON_VERSION: '3.7'                 # set this to the python version to use (supports 3.6, 3.7, 3.8)
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Setup Python ${{ env.PYTHON_VERSION }} Environment
      uses: actions/setup-python@v1
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: 'Resolve Project Dependencies Using Pip'
      shell: bash
      run: |
        pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
        python -m pip install --upgrade pip
        pip install --target=".python_packages/lib/site-packages" -r requirements.txt
        popd
        
    - name: 'Run Azure Functions Action'
      uses: Azure/functions-action@v1
      id: fa
      with:
        app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
        package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
        publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
